<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "static/style.css">
    <link rel = "stylesheet" href = "static/mobile-style.css">
    <title>ASCII Art Converter</title>
</head>
<body>
    <nav>
        <label for = "hamburger">&#9776;</label>
        <input type = "checkbox" id = "hamburger"/>
        <div id = "navLinks">
            <a class = "scrollToLink" href = "#convert"><u>Convert</u></a>
            <a class = "scrollToLink" href = "#download"><u>Download</u></a>
            <a class = "scrollToLink" href = "#about"><u>About</u></a>
            <a class = "scrollToLink" href = "#support"><u>Support</u></a>
        </div>
    </nav>
    <div id = "content">
        <div id = "main">
            <div id = "titleSection">
                <h1>Media to ASCII Art Converter</h1>
                <p>I mean, the name says it all.</p>
                <!-- <p>. . .</p> -->
                <p>Add that "text-ure" to that photo or video! Give it some "character"!</p>
                <p>Don't believe in my puns? See it for yourself!</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/sUYxmBu07Xw" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Looks pretty cool, right?</p>
                <a class = "scrollToLink" href = "#convert"><u>Give it a shot!</u></a>
            </div>
        </div>
        <div id = "secondary">
            <div id = "convert" class = "section">
                <h1>Converter Online</h1>
                <div id = "uploadForm">
                    <label><strong>Upload a file: </strong></label>
                    <input name = "fileUpload" id = "fileUpload" type ="file" accept="image/*, video/*">
                </div>
                <!-- <div id = "fileDetails">
                    <h3>File details:</h3>
                    <p class = "smallP">Size: 12MB</p>
                    <p class = "smallP">Pixels: 2073600</p>
                    <p class = "smallP">FPS: 24</p>
                    <p class = "smallP">Total Frames: 707</p>
                </div> -->
                <p><a href = "static/supportedFiles.txt" target="_blank" rel="noopener noreferrer">View supported files</a></p>
                <div id = "options">
                    <h3>Options</h3>
                    <p class = "smallP">Hover over one to view description</p>
                    <div id = "conversionOptions">
                        <div class = "optionType">
                            <label title = "Percentage (0 - 100) of pixels that will be converted to text. The higher the value, the higher the final image size. Highly recommended to reduce this value below 100% for performance">Image to Text: </label>
                            <input name = "imageReduction" id = "imageReduction" type = "number" size = "2" value = "10" min = "0" max = "100"/>
                        </div>
                        <div class = "optionType">
                            <label title = "Max width of the final image. If width is filled out, must fill out height. Keep blank for no preference">Max Width: </label>
                            <input name = "maxWidth" id = "maxWidth" type = "number" size = "2"/>
                        </div>
                        <div class = "optionType">
                            <label title = "Max height of the final image. If height is filled out, must fill out width. Keep blank for no preference">Max Height: </label>
                            <input name = "maxHeight" id = "maxHeight" type = "number" size = "2"/>
                        </div>
                        <div class = "optionType">
                            <label title = "Font size for the characters. The higher the font size, the higher the final image size">Font Size: </label>
                            <input name = "fontSize" id = "fontSize" type = "number" size = "2" value = "10" min = "1"/>
                        </div>
                        <div class = "optionType">
                            <label title = "Line spacing between each character. The higher the spacing, the higher the final image size">Spacing: </label>
                            <input name = "spacing" id = "spacing" type = "number" size = "2" value = "1.1" step = "0.01" min = "0"/>
                        </div>
                        <div class = "optionType">
                            <label title = "Characters to use to convert the image pixel intensities. From left to right, lower intensity to higher intensity">Characters: </label>
                            <input name = "characters" id = "characters" type = "text" size = "7" value = " .*:+%S0#@"/>
                        </div>
                        <div class = "optionType" class = "videoOption">
                            <label title = "VIDEO ONLY. How often to skip frames. Keep 1 to preserve all frames and have the same frames-per-second">Frame frequency: </label>
                            <input name = "frameFrequency" id = "frameFrequency" type = "number" size = "2" value = "24" min = "1"/>
                        </div>
                    </div>
                </div>
                <div id = "formButtons">
                    <button type = "button" id = "resetButton">Reset to Defaults</button>
                    <button type = "submit" id = "convertButton">Convert</button>
                </div>
                <div id = "status">
                    <div id = "progress">
                        <p class = "smallP" id = "statusMessage">Queuing...</p>
                        <div class="progressBarContainer" id = "progressBarContainer">
                            <div class = "progressBar" id = "convertProgressBar"></div>
                        </div>
                        <button type = "button" id = "cancelButton">Cancel</button>
                    </div>
                    <p id = "error">Uh oh, something went wrong! Try again later maybe?</p>
                    <p id = "cancel">Conversion canceled!</p>
                    <p id = "finished">Finished!
                        <a href = "" id = "previewLink" target="_blank" rel="noopener noreferrer">Preview</a>
                        <a href = "" id = "downloadLink" target="_blank" rel="noopener noreferrer">Download</a>
                    </p>
                </div>
            </div>
            <br>
            <div id = "download" class = "section">
                <h1>Download</h1>
                <p>The online version does have its limitations.<br>Wanna have the ability to convert to ASCII anytime? Now you can!</p>
                <a href = "">Windows</a>
                <a href = "">Linux</a>
                <a href = "">Python code</a>
                <p></p>
            </div>
            <br>
            <div id = "about" class = "section">
                <h1>About</h1>
                <p>
                    This project started off as a fun little script I wrote up in an hour. Then I decided to try and convert some big 60 FPS videos. Then I decided to make it a full-blown full-stack service.
                </p>
                <p>Ho boy, projects can get big quick!</p>
                <p>
                    Regardless, this was all just for funsies and coding experimentation. I honestly don't care how many people use it, it'll just be here until the servers or the Internet decides to die.
                </p>
            </div>
            <br>
            <div id = "support" class = "section">
                <h1>Support</h1>
                <p>All of the <span class = "strikethrough">poorly written</span> code is publicly available under MIT license.<br>You are more than welcome to contribute and help improve it.</p>
                <a href = "https://github.com/vvvuPurdue/ascii_art_converter" target="_blank" rel="noopener noreferrer">GitHub</a>
            </div>
            <br>
        </div>
    </div>
    <footer>
        <p>Website and program created by ViV</p>
    </footer>
</body>
<script src = "static/lib/jquery.js"></script>
<script src = "static/lib/sse.js"></script>
<script src = "static/main.js"></script>
</html>